<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sgz.atomikos.test1.mapper.User1Mapper">
    <insert id="addUser" parameterType="com.sgz.atomikos.test1.entity.User1Entity">
       INSERT INTO user1(userName, dbSource,date) VALUES(#{userName}, DATABASE(),now());
    </insert>

</mapper>